<div class="head-part">
    <img src="assets/logo.jpg" height="100">
    <button class="button" id="myBtn" (click)="add()">+ Add User</button>
</div>
<div class="body-part">
    <table id="users">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users;let i=index">
                <td>{{i+1}}</td>
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.contact}}</td>
                <td>{{u.role}}</td>
                <td (click)="edit(u)"><i class="fa fa-pencil-square" aria-hidden="true"></i></td>
                <td (click)="delete(u,i)"><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" (click)="close()">&times;</span>
        <div class="form">
            <form [formGroup]="userForm">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name.." formControlName="name">

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Your email.." formControlName="email">
                <label for="contact">Mobile Number</label>
                <input type="text" id="contact" name="contact" placeholder="Optional" formControlName="contact">

                <input type="radio" id="admin" name="role" value="Admin" formControlName="role">
                <label for="admin">Admin</label><br>
                <input type="radio" id="executive" name="role" value="Customer Executive" formControlName="role">
                <label for="executive">Customer Executive</label><br>

                <input type="submit" value="Add User" *ngIf="!editMode" (click)="addUser()">
                <input type="submit" value="Update" *ngIf="editMode" (click)="update()">
            </form>
        </div>
    </div>

</div>